# **1. One Sample T Test**

An one-sample t-test compares the mean of a sample group to a hypothetical mean value. This test is conducted on a single sample group, hence the name; one-sample test. The test aims to identify whether the sample group belongs to the hypothetical population.

In [1]:
import numpy as np
from scipy import stats
from numpy.random import seed
from numpy.random import randn
from numpy.random import normal
from scipy.stats import ttest_1samp

In [2]:
seed=(1)
sample = normal(150,10,20)
#Sample mean = 150, Sample SD=10 and sample size = 20
print('Sample: ', sample)

Sample:  [147.04704123 150.09187074 132.23719545 149.77778717 149.85349915
 143.94155063 153.79372848 152.22031515 143.15800027 147.32706817
 154.24725263 145.37685824 134.85049533 136.06803495 161.30640939
 149.10031603 145.60473055 164.74414512 155.23633441 146.58254778]

In [3]:
#We have claimed population means as 155
#Sample mean = 150, Sample SD=10 and sample size = 20
#Mean (CLT) = 155, SD (CLT) = (SD of pop/sqrt(sample size))

t_stat, p_value = ttest_1samp(sample, popmean=155)
print("T-statistic value: ", round(t_stat,2))
print("P-Value: ", round(p_value,2))

T-statistic value:  -3.82
P-Value:  0.0

In [4]:
#We will reject the null hypothesis
#Population mean is not 155

# **2. Two Sample T-Test**

H0: The effect of ammonium chloride and urea on grain yield of paddy are equal i.e., μ1 = μ2

H1: The effect of ammonium chloride and urea on grain yield of paddy is not equal i.e., μ1 ≠ μ2

In [5]:
Ammonium_chloride=[13.4,10.9,11.2,11.8,14,15.3,14.2,12.6,17,16.2,16.5,15.7]
Urea=[12,11.7,10.7,11.2,14.8,14.4,13.9,13.7,16.9,16,15.6,16]

In [6]:
from scipy import stats

t_value,p_value=stats.ttest_ind(Urea,Ammonium_chloride)

print("T-statistic value: ", round(t_value,2))
print("P-Value: ", round(p_value,2))

#So we conclude that the effect of ammonium chloride and urea on grain yield of paddy are equal

T-statistic value:  -0.18
P-Value:  0.86

# **3. Paired T-Test**

In [ ]:
#Eleven schoolboys were given a test in Statistics. They were given a Month’s tuition and a second test were held at the end of it.
#Do the marks give evidence that the students have benefited from the exam coaching?

In [ ]:
#H0: The students have not benefited from the tuition class. i.e., d = 0
#H1: The students have benefited from the tuition class. i.e., d < 0

In [7]:
first_test =[23, 20, 19, 21, 18, 20, 18, 17, 23, 16, 19]
second_test=[24, 19, 22, 18, 20, 22, 20, 20, 23, 20, 18] #after tution from Sir A

from scipy import stats
t_value,p_value=stats.ttest_rel(first_test,second_test)

print("T-statistic value: ", round(t_value,2))
print("P-Value: ", round(p_value,2))

T-statistic value:  -1.71
P-Value:  0.12

In [ ]:
#Because our p value is greater than 5%
#We are going to accept the null hypothesis
#Two groups are same or similar to each other

#Tution had no impact on students score.